.cards-wrapper {
    margin-bottom: 75px;
}

.cards {
    display: flex;
    gap: 130px;
}

.cards .cards-info, .cards .cards-details {
    width: 50%;
}

.cards .cards-info {
    flex: 1;
}

.cards .cards-details > div {
    color: black;
    margin-left: 100px;
    margin-top: 70px;
}

.cards .cards-image {
    max-width: 850px;
    max-height: 850px;
}


.cards .cards-thumbnails > ul {
    display: flex;
    gap: 16px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.cards .cards-thumbnails > ul > li {
    width: 130px;
    height: 130px;
}

.cards .cards-thumbnail-button--active {
    border: 2px solid black;
}

.cards .cards-card-color {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
}

.cards-details .cards-card-collection-name {
    color: #000000;
    text-transform: uppercase;
    font-size: 40px;
    letter-spacing: 2.2px;
    margin: 0;
    line-height: unset;
}

.cards-details .cards-card-title {
    color: #000000;
    text-transform: uppercase;
    font-size: 60px;
    font-weight: bold;
    letter-spacing: 2.6px;
    margin: 0;
    line-height: unset;
}

.cards-details .cards-card-price {
    color: #E01E61;
    font-size: 60px;
    font-weight: bold;
    margin: 0;
    line-height: unset;
}

.cards-details .cards-card-stars-container {
    list-style: none;
    margin: 0;
    padding-inline-start: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    line-height: unset;
    padding: 8px 0px;
}

.cards-details .cards-card-stars-button {
    list-style: none;
    margin: 0;
    padding-inline-start: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    line-height: unset;
    padding: 8px 0px;
}


.cards-details .cards-card-stars-button svg {
    fill: #FFD802;
    width: 44px;
    height: 44px;
}

@media (max-width: 1200px) {
    .cards .cards-details > div {
        margin: 0;
    }

    .cards-details .cards-card-price, .cards-details .cards-card-title {
        font-size: 40px;
    }

    .cards-details .cards-card-collection-name {
        font-size: 20px;
    }

    .cards .cards-card-color {
        font-size: 15px;
    }

    .cards-wrapper {
        margin-bottom: 25px;
    }
}
