:root {
    --background-color-primary: #fff;
    --label-color: #666;
    --border-color: #818a91;
    --button-primary-color: var(--color-yellow);
    --button-primary-hover-color: var(--color-yellow);
    --form-font-size-m: 22px;
    --form-font-size-s: 18px;
    --form-font-size-xs: 16px;
    --form-background-color: var(--background-color-primary);
    --form-padding: 3%;
    --form-columns: 1;
    --form-field-horz-gap: 40px;
    --form-field-vert-gap: 20px;
    --form-invalid-border-color: #ff5f3f;
    --form-input-padding: 0.75rem 0.6rem;
    --form-input-font-size: 1rem;
    --form-input-disable-color: var(--label-color);
    --form-input-border-size: 1px;
    --form-input-border-color: var(--border-color);
    --form-input-background-color: var(--background-color-primary);
    --form-paragraph-color: var(--label-color);
    --form-paragraph-margin: 0 0 0.9rem;
    --form-paragraph-font-style: none;
    --form-paragraph-font-size: var(--form-font-size-s);
    --form-label-color: var(--label-color);
    --form-label-font-size: var(--form-font-size-s);
    --form-label-font-weight: 400;
    --form-title-font-weight: 600;
    --form-fieldset-border: 0;
    --form-fieldset-marign: 0;
    --form-fieldset-legend-color: var(--form-label-color);
    --form-fieldset-legend-font-size: var(--form-label-font-size);
    --form-fieldset-legend-font-weight: var(--form-title-font-weight);
    --form-fieldset-legend-border: none;
    --form-fieldset-legend-padding: 0;
    --form-button-color: var(--text-color);
    --form-button-font-size: var(--form-font-size-xs);
    --form-button-background-color: var(--button-primary-color);
    --form-button-background-hover-color: var(--button-primary-hover-color);
    --form-button-border: 2px solid transparent;
    --form-button-padding: var(--button-padding);
    --form-upload-color: var(--background-color-primary);
    --form-upload-font-size: var(--form-font-size-xs);
    --form-upload-background-color: var(--mt-global-color-base-primary);
    --form-submit-width: 100%;
    --form-width: 100%;
}

form output {
    display: block;
    font-weight: 700;
    font-size: 2rem;
    color: #333;
}

form [data-hidden="true"] {
    display: none !important;
}

main .form-container {
    background-color: #f9f9f9;
    padding: 2rem;
    width: 80%;
    max-width: 1000px;
    margin: 2rem auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

main .form {
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

main .form > div:not(:first-child) {
    display: block;
}

main .form form {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: start;
}

main .form form fieldset {
    border: 2px solid #e0e0e0;
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 4px;
    width: 100%;
}

main .form form fieldset fieldset {
    padding: 0;
    border: none;
}

main .form .field-description {
    color: #666;
    font-size: 0.875rem;
}

main .form input, main .form textarea, main .form select {
    background-color: #f3f3f3;
    border: 2px solid #ccc;
    width: 100%;
    height: 48px;
    color: #333;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 4px;
    transition: border-color 0.3s, background-color 0.3s;
}

main .form input[type='file'] {
    border: none;
    padding-inline-start: 0;
}

main .form input[type='checkbox'],
main .form input[type='radio'] {
    width: 20px;
    height: 20px;
    flex: none;
    margin: 0;
}

main .form textarea {
    min-height: 120px;
}

main .form input:hover, main .form select:hover {
    border-color: #777;
    background-color: #fafafa;
}

main .form fieldset legend {
    font-weight: bold;
    font-size: 1.25rem;
    color: #444;
    border-bottom: 2px solid #ddd;
    width: 100%;
    padding: 0.5rem 0;
    margin-bottom: 10px;
}

main .innovate form > fieldset > legend {
    text-align: center;
}

main .form label {
    font-weight: bold;
    font-size: 1rem;
    color: #333;
}

main .form label.required::after {
    content: "*";
    color: red;
    padding-inline-start: 5px;
}

main .form form p,
main .form form .field-wrapper {
    margin: 1rem 0;
    color: #333;
    flex: 1 0 calc(50% - 1rem);
}

main .form form p {
    font-size: 1rem;
    font-style: normal;
    color: #555;
    margin: 0.5rem 0;
}

main .form form .form-checkbox-wrapper, main .form form .form-radio-wrapper {
    display: flex;
    align-items: baseline;
    margin: 0.5rem 0;
    gap: 8px;
}

main .form form fieldset > .form-radio-wrapper:first-of-type,
main .form form fieldset > .form-checkbox-wrapper:first-of-type {
    margin: 1rem 0;
}

main .form .form-radio-wrapper label,
main .form .form-checkbox-wrapper label {
    font-weight: normal;
    flex-basis: calc(100% - 28px);
}

input::file-selector-button {
    color: #333;
    background: #eee;
    font-size: 1rem;
    text-align: center;
    border: 2px solid #ccc;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: background-color 0.3s, border-color 0.3s;
}

input::file-selector-button:hover {
    background-color: #ddd;
    border-color: #bbb;
}

main .form button {
    color: #fff;
    background: #007bff;
    border: none;
    padding: 1rem;
    font-size: 1.125rem;
    font-weight: bold;
    border-radius: 4px;
    width: 100%;
    transition: background-color 0.3s;
}

main .form button:hover {
    background: #0056b3;
}

main .form-submit-wrapper {
    width: 100%;
    text-align: center;
}

main .form input:disabled,
main .form textarea:disabled,
main .form select:disabled,
main .form button:disabled {
    background-color: #e9ecef;
}

main .form-file-wrapper input[type="file"] {
    display: none;
}

main .form-file-wrapper .field-dropregion {
    background: rgba(0, 0, 0, 0.02);
    border: 2px dashed #ccc;
    border-radius: 8px;
    margin: 1rem 0;
    padding: 2rem;
    text-align: center;
    transition: border-color 0.3s;
}

main .form-file-wrapper .field-dropregion:hover {
    border-color: #bbb;
}

main .form-file-wrapper .file-description button {
    background: url('../../icons/delete.svg') no-repeat center center;
    width: 32px;
    height: 32px;
    border: none;
    cursor: pointer;
}

.section.wknd-registration {
    padding: 0 2rem;
    margin: 0 auto;
    max-width: 1000px;
}

@media (min-width: 576px) {
    :root {
        --form-width: 600px;
    }
}

@media (min-width: 768px) {
    :root {
        --form-width: 800px;
    }

    main .form button {
        width: auto;
    }
}

@media (min-width: 1200px) {
    :root {
        --form-width: 1200px;
    }
}

main form .form-fieldset-wrapper {
    display: flex;
    padding: 0;
    flex-direction: column;
}

@media (min-width: 1200px), (min-width: 992px) {
    :root {
        --form-columns: 2;
    }

    main .form form .form-checkbox-wrapper,
    main .form form .form-textarea-wrapper,
    main .form form .form-file-wrapper,
    main .form form .form-fieldset-wrapper {
        flex: 1 0 100%;
    }

    main .form form .form-fieldset-wrapper {
        flex-flow: row wrap;
        gap: 1rem;
    }
}

