.product-listing .form {
  display: flex;
  gap: 10%;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.product-listing .form input {
  font-size: 1.25rem;
  width: 100%;
  max-width: 50rem;
  height: 2.5rem;
  display: block;
  border-radius: 0.25rem;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 1px solid var(--text-color);
  color: var(--text-color);
  background-color: var(--background-color);
}

.product-listing h1 {
  text-align: center;
}

.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 80%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}

.skeleton-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1rem;
  margin: auto;
  justify-items: center;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 1rem;
  /* margin: auto; */
}

.skeleton-grid > div {
  height: 300px;
  width: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* border-radius: 1rem; */
  /* overflow: hidden; */
  /* display: flex; */
  /* justify-content: center; */
  /* margin: 0 auto; */
}

.product {
  min-width: 250px;
  min-height: 300px;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  background: white;
  /* padding: 1rem 2rem; */
  background: linear-gradient(to bottom, rgb(238, 238, 238), white 50%);
}

.product .product-img {
  width: 225px;
  height: 300px;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  /* border-radius: 1rem; */
  /* overflow: hidden; */
  /* display: flex; */
  justify-content: center;
  margin: 0 auto;
}

.product .product-img img {
  width: 100%;
  aspect-ratio: 3 / 4;
  object-fit: contain;
}

.skeleton-grid > div > div img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}


.home {
  position: fixed;
  width: 9rem;
	height: 3rem;
  left: 50%;
  bottom: 10%;
  transform: translate(-50%, 0);
  border-radius: 100px;
  overflow: hidden;
  display: flex;
  align-items: center;
  background-color: black;
  justify-content: space-around;
  padding: 0.5rem 0;
  opacity: 80%;
}

.home > div {
  /* background-color: black; */
  height: 80%;
  color: white;
  margin-right: 0.5rem;
}

.home > img {
  background-color: white;
  height: 80%;
  filter: invert(1);
  margin-left: 0.5rem;
}

.product-details {
  display: flex;
  flex-direction: column;
  text-align: left;
  color: black;
  font-size: 1rem;
  font-weight: bold;
  white-space: nowrap;
  max-width: 250px;
  width: 100%;
}

.product-details span {
  display: inline-block;
  white-space: normal;
  padding-left: 1rem;
}

.product-details span:nth-child(1) {
  padding-top: 1rem;
}

.header-search {
  margin-bottom: 3rem;
}

.product-view {
  display: grid;
  grid-template-columns: 0.5fr 10fr 0.5fr;
  gap: 1rem;;
}

.left-rail {
  display: flex;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 100px;
}

.right-rail {
  display: flex;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 100px;
}

.left-rail.disable-button {
  opacity: 30%;
}

.right-rail.disable-button {
  opacity: 30%;
}
