.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  display: block;
  width: 100%;
  margin: auto;
}

@media (min-width: 600px) {
  .columns > div {
    display: flex;
    align-items: center;
    flex-direction: unset;
  }

  .columns > div > div {
    flex: 1;
    margin-left: 32px;
  }

  .columns > div > div:first-of-type {
    margin-left: unset;
  }
}
