/* stylelint-disable */
/* header and nav layout */
header nav {
  display: grid;
  grid-template:
    'hamburger brand tools' var(--nav-height)
    'sections sections sections' 1fr / 50px 1fr 50px;
  align-items: center;
  position: fixed;
  z-index: 2;
  background-color: var(--background-color);
  width: 100vw;
  height: var(--nav-height);
  box-sizing: border-box;
  font-family: var(--body-font-family);
  transition: padding-bottom 0s ease-out,padding-top 0s ease-out 0s;
  margin-top: 0;
  padding: 0 16px;
  top: 25px;
}

header nav a:any-link {
  color: currentcolor;
}

header nav[aria-expanded='true'] {
  grid-template: 'hamburger brand' 'sections sections' 'tools tools';
  grid-template-columns:  56px 1fr;
  overflow-y: scroll;
  min-height: 100vh;
}

/* brand */
header .nav-brand {
  grid-area: brand;
  font-size: 22px;
  font-weight: 700;
  line-height: 1em;
}

header nav .nav-brand p {
  margin: 0;
}

header nav .nav-brand img {
  width: 128px;
}

/* hamburger */
header nav .nav-hamburger {
  grid-area: hamburger;
  height: 22px;
  padding-top: 3px;
  cursor: pointer;
}

header nav[aria-expanded='false'] .nav-hamburger-icon,
header nav[aria-expanded='false'] .nav-hamburger-icon::after,
header nav[aria-expanded='false'] .nav-hamburger-icon::before {
  box-sizing: border-box;
  position: relative;
  display: block;
  top: 8px;
  width: 20px;
  height: 2px;
  border-radius: 3px;
  background: currentcolor;
}

header nav[aria-expanded='false'] .nav-hamburger-icon::after,
header nav[aria-expanded='false'] .nav-hamburger-icon::before {
  content: '';
  position: absolute;
  top: -6px;
}

header nav[aria-expanded='false'] .nav-hamburger-icon::after {
  top: 6px;
}

header nav[aria-expanded='true'] .nav-hamburger-icon {
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 22px;
  height: 22px;
  border: 2px solid transparent;
  border-radius: 5px;
  transform: translate(-3px, -2px);
}

header nav[aria-expanded='true'] .nav-hamburger-icon::after,
header nav[aria-expanded='true'] .nav-hamburger-icon::before {
  content: '';
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 22px;
  height: 2px;
  background: currentcolor;
  transform: rotate(45deg);
  border-radius: 5px;
  top: 8px;
  left: 1px
}

header nav[aria-expanded='true'] .nav-hamburger-icon::after {
  transform: rotate(-45deg)
}

/* sections */
header nav .nav-sections {
  grid-area: sections;
  flex-direction: column;
  display: none;
  background-color: var(--overlay-color);
  flex: 1 1 auto;
}

header nav .nav-sections ul  {
  font-size: 16px;
  font-weight: 500;
  list-style: none;
  padding-left: 0;
}

header nav .nav-sections li {
  font-size: 20px;
  font-weight: 500;
}

header nav[aria-expanded='true'] .nav-sections {
  display: block;
  align-self: flex-start;
}

/* tools */
header nav .nav-tools {
  grid-area: tools;
  flex: 0 0 auto;
  height: 22px;
}

header nav .nav-tools p {
  margin: 0;
}

header nav[aria-expanded='true'] .nav-tools img {
  display: unset;
}

header nav[aria-expanded='true'] .nav-tools ul {
  font-size: unset;
  flex-direction: column;
}

header nav[aria-expanded='true'] .nav-tools li {
  padding: 0;
}

/* desktop nav styles */
@media (min-width: 1000px) {
  header nav {
    display: flex;
    justify-content: space-between;
    height: var(--nav-height);
    padding: 16px;
  }

  header nav .nav-sections > ul > li.nav-drop {
    position: relative;
    padding-right: 32px;
  }

  header nav .nav-drop::after {
    content: ' ';
    border: 1px solid currentolor;
    transform: rotate(135deg);
    border-width: 2px 2px 0 0;
    display: inline-block;
    width: 6px;
    height: 6px;
    position: absolute;
    top: 8px;
    right: 14px;
  }

  header nav .nav-hamburger {
    display: none;
  }

  header nav .nav-sections {
    display: unset;
  }

  header nav .nav-brand {
    flex: 0 0 150px;
  }

  header nav .nav-sections ul {
    display: flex;
    flex-direction: row;
    background-color: unset;
    width: unset;
    margin: 0;
  }

  header nav[aria-expanded='true'] .nav-sections ol {
    display: flex;
    min-height: unset;
  }

  header nav .nav-sections > ul > li {
    padding: 0 16px;
    position: relative;
    font-size: 16px;
    margin: 0;
    cursor: pointer;
    padding-top: 0;
  }

  header nav .nav-sections > ul > li > p {
    margin: 0;
  }

  header nav .nav-sections > ul > li > ul {
    margin-top: 20px;
    display: none;
    position: relative;
  }

  header nav .nav-sections > ul > li > ul:any-link {
    font-size: var(--body-font-size-m);
  }

  header nav .nav-sections > ul > li > ul::before {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid var(--highlight-background-color);
    top: -15px;
    left: 20px;
  }


  header nav .nav-sections > ul > li > ul > li {
    font-size: 18px;
    padding: 8px 16px;
  }

  header nav .nav-sections > ul > li[aria-expanded='true'] ul {
    display: block;
    position: absolute;
    background-color: var(--highlight-background-color);
    width: 300px;
    left: 0;
    padding: 16px;
    box-shadow: 0 0 5px var(text-color);
  }
}

header .header-topbar {
  height: 25px;
  background-color: black;
  color: var(--text-color-light);
  display: flex;
  justify-content: space-between;
  font-size: var(--body-font-size-xs);
  text-transform: uppercase;
  padding: 0 16px;
  position: fixed;
  z-index: 2;
  right: 0;
  left: 0;
}

header .header-topbar .icon {
  height: 24px;
  width: 34px;
  margin-right: 6px;
}

header .header-chevron-down {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 22px;
    height: 22px;
    border: 2px solid transparent;
    border-radius: 100px
}
header .header-chevron-down::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 10px;
    height: 10px;
    border-bottom: 1px solid;
    border-right: 1px solid;
    transform: rotate(45deg);
    left: 4px;
    top: 2px
}

header .header-markets {
  display: flex;
  align-items: center;
}

header .header-topbar .icon svg {
  height: 100%;
}

/* APP HEADER */
header.app-header nav {
  display: grid;
  grid-template:
    'hamburger brand tools' var(--app-nav-height)
    'sections sections sections' 0 / 28px 1fr auto;
  gap: 8px;
  top: 0;
  width: 100%;
  height: var(--app-nav-height);
  z-index: 2;
}

header.app-header nav[aria-expanded='true'] {
  grid-template:
    'brand hamburger' var(--app-nav-height)
    'sections sections' 1fr
    'tools tools' auto / 1fr 28px;
  gap: 0 16px;
  overflow-y: auto;
  width: 60vw;
  min-height: 100vh;
}

@media (min-width: 900px) {
  header.app-header nav,
  header.app-header nav[aria-expanded='true'] {
    display: flex;
    justify-content: space-between;
    height: 100px;
    padding: 20px;
    background-color: transparent;
  }
}

/* hamburger */
header.app-header nav .nav-hamburger {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  padding: 0;
}

header.app-header nav[aria-expanded='false'] .nav-hamburger-icon,
header.app-header nav[aria-expanded='false'] .nav-hamburger-icon::after,
header.app-header nav[aria-expanded='false'] .nav-hamburger-icon::before {
  top: 0;
  width: 22px;
  height: 3.5px;
  border-radius: 1px;
}

header.app-header nav[aria-expanded='false'] .nav-hamburger-icon::after,
header.app-header nav[aria-expanded='false'] .nav-hamburger-icon::before {
  top: -8px;
}

header.app-header nav[aria-expanded='false'] .nav-hamburger-icon::after {
  top: 8px;
}

header.app-header nav[aria-expanded='true'] .nav-hamburger-icon {
  transform: translate(-3px, 7px);
}

header.app-header nav[aria-expanded='true'] .nav-hamburger-icon::after,
header.app-header nav[aria-expanded='true'] .nav-hamburger-icon::before {
  width: 24px;
  height: 3.5px;
  border-radius: 1px;
  top: 0;
  left: 0;
}

@media (min-width: 900px) {
  header.app-header nav .nav-hamburger {
    display: none;
    visibility: hidden;
  }
}

/* brand */
header.app-header nav[aria-expanded='true'] .nav-brand {
  display: relative;
}

header.app-header nav[aria-expanded='true'] .nav-brand::after {
  content: '';
  display: block;
  position: absolute;
  width: 45%;
  height: 2px;
  margin-top: 16px;
  background-color: #d6d6d6;
}

header.app-header nav .nav-brand p {
  margin: 0;
  line-height: 0;
}

header.app-header nav .nav-brand .icon-wknd-logo-dk {
  width: unset;
  margin-top: 0;
  margin-bottom: 0;
}

header.app-header nav .nav-brand svg {
  height: 22px;
  width: auto;
}

@media (min-width: 900px) {
  header.app-header nav .nav-brand svg {
    height: 36px;
  }
}

/* sections */
header.app-header nav[aria-expanded='true'] .nav-sections {
  padding: 60px 0;
}

header.app-header nav[aria-expanded='true'] .nav-sections ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 0;
}

header.app-header nav .nav-sections li {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}

@media (min-width: 900px) {
  header.app-header nav .nav-sections {
    display: unset;
  }

  header.app-header nav .nav-sections ul {
    display: flex;
    gap: 20px;
    justify-content: center;
  }

  header.app-header nav .nav-sections li {
    padding: 0;
    font-size: 14px;
    letter-spacing: .28px;
  }
}

/* tools */
header.app-header nav .nav-tools {
  height: unset;
}

header.app-header nav[aria-expanded='true'] .nav-tools {
  margin-bottom: 15%;
}

header.app-header nav .nav-tools a:hover {
  text-decoration: none;
}

header.app-header nav .nav-tools p {
  margin: 0;
  line-height: 1;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}

@media (min-width: 900px) {
  header.app-header nav .nav-tools p {
    font-size: 14px;
    letter-spacing: .28px;
  }
}
