/* block specific CSS goes here */

main .hero-container > div {
    max-width: unset;
}
  
main .hero-container {
    padding: 0;
}
  
main .hero {
    position: relative;
    padding: 32px;
    min-height: 300px;
    color: var(--background-color);
}

main .hero .hero-body {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 1;
}


main .hero picture {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    box-sizing: border-box;
}

main .hero img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.hero [data-align="center"] {
    text-align: center;
}