/* stylelint-disable */

footer .customer-support {
  background: white;
  padding-left: 60px;
  padding-right: 60px;
}

footer .columns.info {
  background-color: #4B4B4B;
  color: #E3E3E3;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 32px;
  padding-bottom: 32px;
}

.footer .columns.info > div {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: auto;
}

footer .columns.info h3 {
  margin-top: unset;
  margin-bottom: 8px;
}

footer .columns.info > div > div > ul {
  list-style: none;
  margin: 0;
  padding-inline-start: 0;
  display: flex;
  flex-direction: column;
}

footer .columns.info #payment-info + p {
  padding: 0;
  margin: 0;
}

footer .columns.info #payment-info + p > picture > img {
  max-height: 92px;
}

footer .columns.info > div > div > ul > li {
  display: block;
  color: #E3E3E3;
  font-size: 1rem;
  text-transform: uppercase;
  padding-top: 10px;
  text-decoration: none;
}

footer .columns.info > div > div > ul > li:first-child {
  padding-top: 0;
}

footer .columns.info #follow-us + ul {
  list-style: none;
  margin: 0;
  padding-inline-start: 0;
  display: flex;
  gap: 16px;
  flex-direction: row;
}

footer .columns.info #follow-us + ul > li {
  padding-top: 0;
}

.footer .columns.info a {
  font-size: 1.5rem;
  color: #E3E3E3;
}

.footer .columns.info svg {
  fill: #E3E3E3;
}

footer .copywright {
  background-color: #000000;
  color: #FFFFFF;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.footer .copywright > div > div {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
}

footer .copywright ul {
  list-style: none;
  margin: 0;
  padding-inline-start: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

footer .copywright ul:last-child {
  margin: auto;
  gap: 32px;
}

footer .copywright li {
  display: block;
  font-size: 1rem;
  text-decoration: none;
}

footer .copywright strong {
  letter-spacing: 1.5px;
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: bolder;
}