.cards-sneakers-wrapper {
  max-width: 1200px;
  margin: auto;
}

.cards-sneakers > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 60px;
}

.cards-sneakers > ul > li {
  /* border: 1px solid var(--highlight-background-color); */
  /* background-color: var(--background-color); */
  border-radius: 24px;
}

.cards-sneakers .cards-sneakers-card-body {
  margin: 16px;
}

.cards-sneakers .cards-sneakers-card-image {
  line-height: 0;
}

.cards-sneakers .cards-sneakers-card-body > *:first-child {
  margin-top: 0;
}

.cards-sneakers > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
  border-radius: 16px;
}

.cards-sneakers .cards-sneakers-card-image {
  padding: 16px;
}

.cards-sneakers.no-crop > ul > li img {
  aspect-ratio: unset;
  object-fit: unset;
}

.cards-sneakers.scroll > ul {
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
  scroll-behavior: smooth;
  display: flex;
  padding-bottom: 16px;
}

.cards-sneakers.scroll > ul > li {
  width: 50%;
  flex-shrink: 0;
  scroll-snap-align: start;
  position: relative;
}

.cards-sneakers.scroll > ul::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: #eee; /* or add it to the track */
}

.cards-sneakers.scroll > ul::-webkit-scrollbar-thumb {
  background: #999;
}

.cards-sneakers .cards-sneakers-card-root {
  background-color: #F2F0EB;
  padding: 30px 24px;
  border-radius: 24px;
  position: relative;
}

.cards-sneakers .cards-sneakers-card-collection-name {
  color: #707070;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 2.2px;
  margin: 0;
  line-height: unset;
}

.cards-sneakers .cards-sneakers-card-title {
  color: #000000;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bolder;
  letter-spacing: 2.6px;
  margin: 0;
  line-height: unset;
}

.cards-sneakers .cards-sneakers-card-price {
  color: #E01E61;
  font-size: 24px;
  margin: 0;
  line-height: unset;
}

.cards-sneakers .cards-sneakers-card-stars-container {
  list-style: none;
  margin: 0;
  padding-inline-start: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  line-height: unset;
  padding: 8px 0px;
}

.cards-sneakers .cards-sneakers-card-stars-buttons-container {
  list-style: none;
  margin: 0;
  padding-inline-start: 0;
  display: flex;
  justify-content: space-between;
  padding-top: 36px;
}

.cards-sneakers .cards-sneakers-card-stars-button {
  cursor: pointer;
  background-color: #4B4B4B;
  border-color: #707070;
  border-width: 1px;
  border-radius: 24px;
  text-transform: uppercase;
  color: #FFFFFF;
  font-size: 12px;
  display: flex;
  gap: 12px;
  align-items: center;
  padding: 4px 12px;
  letter-spacing: 2px;
}

.cards-sneakers .cards-sneakers-card-stars-button:first-child {
  padding: 4px 20px;
}

.cards-sneakers .cards-sneakers-card-stars-button .icon {
  display: flex;
}

.cards-sneakers .cards-sneakers-card-stars-button svg {
  fill: #FFFFFF;
}

.cards-sneakers .cards-sneakers-card-colors {
  list-style: none;
  margin: 0;
  padding-inline-start: 0;
  display: flex;
  gap: 12px;
  flex-direction: row;
  align-items: center;
  line-height: unset;
  margin-bottom: 12px;
}

.cards-sneakers .cards-sneakers-card-color-container {
  width: 24px;
  height: 8px;
  border-radius: 8px;
  border: 4px solid #FFFFFF;
}

.cards-sneakers .cards-sneakers-card-stars-container > li svg {
  fill: #FFD802;
  width: 28px;
  height: 28px;
}

.cards-sneakers .cards-sneakers-card-stars-container .icon {
  display: flex;
}

.cards-sneakers .cards-sneakers-card-stars-container > li:last-child {
  font-size: 16px;
  color: #707070;
}

.cards-sneakers .cards-sneakers-card-collection-new-tag {
  position: absolute;
  padding: 4px 20px;
  font-size: 16px;
  text-transform: uppercase;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  background-color: #E01E61;
  right: 0;
  margin-top: 30px;
}

@media (min-width: 900px) {
    .cards-sneakers.scroll > ul > li {
        width: calc(100%/3);
    }
}

@media (min-width: 1200px) {
    .cards-sneakers.scroll > ul > li {
        width: calc(100%/4);
    }
}
