/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

 :root {
  /* colors */
  --color-yellow: #ffea00;
  --link-color: black;
  --link-hover-color: black;
  --background-color: #fff;
  --overlay-background-color: #eee;
  --highlight-background-color: #ccc;
  --text-color: #202020;
  --text-color-light: #ebebeb;

  /* fonts */
  --body-font-family: 'Source Sans Pro', 'helvetica neue', helvetica, ubuntu, roboto, noto, sans-serif;
  --heading-font-family: asar, georgia, 'Times New Roman', times, serif;
  --fixed-font-family: 'Roboto Mono', menlo, consolas, 'Liberation Mono', monospace;

  /* body sizes */
  --body-font-size-m: 22px;
  --body-font-size-s: 18px;
  --body-font-size-xs: 14px;

  /* heading sizes */
  --heading-font-size-xxl: 40px;
  --heading-font-size-xl: 36px;
  --heading-font-size-l: 32px;
  --heading-font-size-m: 24px;
  --heading-font-size-s: 20px;
  --heading-font-size-xs: 18px;

  /* nav height */
  --nav-height: 115px;
  --app-nav-height: 50px;
  --topbar-height: 25px;
  --topmenu-height: 42px;
}

@media (min-width: 900px) {
  :root {
    /* stylelint-disable-next-line length-zero-no-unit */
    --app-nav-height: 0px;
    --topmenu-height: 0;
  }
}

body {
  font-size: var(--body-font-size-m);
  margin: 0;
  font-family: var(--body-font-family);
  line-height: 1.6;
  color: var(--text-color);
  background-color: var(--background-color);
  display: none;
}

body.appear {
  display: unset;
}

header {
  height: var(--nav-height);
}

header.app-header {
  height: calc(var(--app-nav-height) + var(--topmenu-height));
}

header.app-header > div {
  visibility: hidden;
}

header.app-header > div[data-block-status='loaded'] {
  visibility: visible;
}

header.has-topbar {
  height: calc(var(--nav-height) + var(--topbar-height));
}

.hidden {
  display: none;
}

h1, h2, h3,
h4, h5, h6 {
  font-family: var(--heading-font-family);
  font-weight: 400;
  line-height: 1.25;
  margin-top: 1em;
  margin-bottom: .5em;
  scroll-margin: calc(var(--nav-height) + 1em);
}

h1 {
  font-weight: 400;
  margin-top: 27px;
  margin-bottom: 13.5px;
  font-size: var(--heading-font-size-xxl);
}

body.activity h1::after {
  display: block;
  width: 84px;
  padding-top: 8px;
  content: "";
  border-bottom: 2px solid var(--color-yellow);
}

body.article h2::after {
  display: block;
  width: 84px;
  padding-top: 8px;
  content: "";
  border-bottom: 2px solid var(--color-yellow);
}

h2 { font-size: var(--heading-font-size-xl) }
h3 { font-size: var(--heading-font-size-l) }
h4 { font-size: var(--heading-font-size-m) }
h5 { font-size: var(--heading-font-size-s) }
h6 { font-size: var(--heading-font-size-xs) }

p, dl, ol, ul, pre, blockquote {
  margin-top: 1em;
  margin-bottom: 1em;
}

p {
  margin: 0 0 13.5px;
  font-size: 18px;
  line-height: 2.5;
  text-align: justify;
}

a:any-link {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: var(--link-hover-color);
}

code, pre, samp {
  font-family: var(--fixed-font-family);
  font-size: var(--body-font-size-s);
}

code, samp {
  padding: .125em;
}

pre {
  overflow: scroll;
}

.badge-container {
  text-align: inherit;
}

.badge {
  padding: 6px;
  background-color: var(--color-yellow);
  color: var(--text-color);
  font-size: 14px;
  font-weight: 800;
  letter-spacing: .4px;
  text-transform: uppercase;
}

/* buttons */

a.button:any-link, button {
  border-radius: 0;
  color: #202020;
  background-color: var(--color-yellow);
  text-transform: uppercase;
  font-size: 14px;
  padding: 1em 2.5em;
  font-weight: 600;
  font-family: var(--body-font-family);
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  border: 2px solid transparent;
  text-align: center;
  font-style: normal;
  cursor: pointer;
  margin: 16px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

a.button:hover, a.button:focus, button:hover, button:focus  {
  /* background-color: var(--link-hover-color); */
  cursor: pointer;
}

button:disabled, button:disabled:hover {
  /* background-color: var(--overlay-background-color); */
  cursor: unset;
}

a.button.secondary, button.secondary {
  background-color: unset;
  border: 2px solid currentcolor;
  color: var(--text-color)
}

body.activity main {
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-areas:
    "bread bread"
    "hero hero"
    "left main";
}

main input {
  font-size: 1.25rem;
  width: 100%;
  max-width: 50rem;
  display: block;
  margin-bottom: 1rem;
  padding: 0.75rem 0.6rem;
  border-radius: 0.25rem;
  box-sizing: border-box;
  border: 1px solid var(--text-color);
  color: var(--text-color);
  background-color: var(--background-color);
}

main input:hover {
  border: 1px solid var(--text-color);
}

main .section {
  padding: 64px 16px;
}

main pre {
  background-color: var(--overlay-background-color);
  padding: 1em;
  border-radius: .25em;
  overflow-x: auto;
  white-space: pre;
}

main blockquote {
  font-style: italic;
  margin: 3rem;
  text-indent: -1rem;
  hanging-punctuation: first;
}

main blockquote p::before {
  content: "“";
  line-height: 0;
}

main blockquote p::after {
  content: "”";
  line-height: 0;
}

hr {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  border: 0;
  border-bottom: 1px solid var(--overlay-background-color);
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

@media (min-width: 600px) {
  main .section {
    padding: 64px 32px;
  }
}

@media (min-width: 900px) {
  :root {
    --heading-font-size-xxl: 40px;
    --heading-font-size-xl: 36px;
    --heading-font-size-l: 36px;
    --heading-font-size-m: 30px;
    --heading-font-size-s: 24px;
    --heading-font-size-xs: 22px;
  }

  .section > div {
    max-width: 1200px;
    margin: auto;
  }
}

main .section.highlight {
  background-color: var(--highlight-background-color);
}

.icon-wknd-logo-dk {
  display: inline-block;
  width:128px;
  margin-top: 14px;
  margin-bottom: 7px;
}

.icon-wknd-logo-light {
  display: inline-block;
  width:128px;
  margin-top: 14px;
  margin-bottom: 7px;
}

/* progressive section appearance */
main .section[data-section-status='loading'],
main .section[data-section-status='initialized'] {
  display: none;
}

main .section[data-background],
main .section[data-video] {
  position: relative;
  color: var(--background-color);
  text-shadow: 0 0 32px black;
}

main .section[data-background] picture.section-background,
main .section[data-video] .section-video {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  overflow: hidden;
}

main .section[data-video] .section-video {
  display: none;
  visibility: hidden;
}

@media (min-width: 900px) {
  main .section[data-background] picture.section-background {
    display: none;
    visibility: hidden;
  }

  main .section[data-video] .section-video {
    display: block;
    visibility: visible;
  }
}

main .section[data-background] picture.section-background img,
main .section[data-video] .section-video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* themes */
/* stylelint-disable-next-line no-descending-specificity */
.app.appear main {
  display: flex;
  flex-direction: column;
  height: calc(100vh - var(--app-nav-height) - var(--topmenu-height));
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

@media (min-width: 900px) {
  .app.appear main {
    height: 100vh;
  }
}

.app main .section {
  scroll-snap-align: start;
}

.app main h2,
.app main p {
  text-align: center;
  line-height: 1.2;
}

.app main h2 + p {
  text-transform: uppercase;
}

.app main .button-container {
  margin: 0;
}

.app main .button {
  margin: 0;
  padding: 16px 40px;
  background-color: var(--link-color);
  color: white;
  line-height: 1;
}

.app main > .section {
  box-sizing: border-box;
  overflow: hidden;
  min-height: calc(100vh - var(--app-nav-height) - var(--topmenu-height));
  background-color: var(--color-yellow);
}

@media (min-width: 600px) {
  .app main > .section {
    padding: 20px;
  }
}

@media (min-width: 900px) {
  .app main > .section {
    min-height: 100vh;
    padding-top: 100px;
  }

  .app main > .section > div {
    max-width: unset;
  }
}

.app main > .section[data-section-status='loaded'] {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.app main > .section[data-background][data-section-status='loaded'] {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 900px) {
  .app main > .section[data-background] .default-content-wrapper {
    width: 50%;
    margin-left: 0;
    text-align: left;
  }

  .app main > .section[data-background] .default-content-wrapper > * {
    text-align: left;
  }
}

/* stylelint-disable-next-line no-descending-specificity */
.app main > .section .columns img {
  max-height: 50vw;
  width: auto;
  margin: auto;
}

@media (min-width: 900px) {
  .app main > .section .columns {
    width: 66%;
  }
}

.app main > .section[data-section-status='loaded'].parallax-container {
  display: unset;
  padding: 0;
  background-color: transparent;
}

.app main .parallax > div {
  min-height: calc(100vh - var(--app-nav-height) - var(--app-nav-height) + 8px);
}

@media (min-width: 900px) {
  .app main .parallax .parallax-text {
    width: 50%;
    text-align: left;
  }

  .app main .parallax .parallax-text > * {
    text-align: left;
  }
}

.app main .menu-wrapper {
  position: fixed;
  top: var(--app-nav-height);
  width: 100%;
  z-index: 2;
}

@media (min-width: 900px) {
  .app main .menu-wrapper {
    box-sizing: border-box;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: auto;
    padding: 0 20px;
  }
}
