/*
 * Copyright 2022 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */
.entrance .cq-Sequence {
  position: relative;
  box-sizing: border-box;
  padding: 0;
}
  
.entrance .cq-Sequence::before {
  position: absolute;
  z-index: 998;
  background: rgb(0 128 128);
  background-size: cover;
  content: '';
}

.entrance .cq-Sequence::after {
  position: absolute;
  z-index: 999;
  background: no-repeat center center #444;
  background-size: cover;
  border-radius: 50%;
  content: '';
}

.entrance .cq-Sequence-item .text-overlay-wrapper {
  margin: 4rem;
  justify-content: flex-start;
}

@media (orientation: landscape) {
  .entrance .cq-Sequence {
    padding-left: 200px;
  }
  
  .entrance .cq-Sequence::before {
    left: 0;
    top: 0;
    height: 100%;
    width: 200px;
    border-bottom: 10px solid white;
  }
  
  .entrance .cq-Sequence::after {
    width: 180px;
    height: 130px;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    background-image: url('/images/logo.webp'), url('/images/chalkboard-horizontal.webp');
  }
}

@media (orientation: portrait) {
  .entrance .cq-Sequence {
    padding-top: 150px;
  }
  
  .entrance .cq-Sequence::before {
    left: 0;
    top: 0;
    height: 150px;
    width: 100%;
    border-bottom: 10px solid white;
  }
  
  .entrance .cq-Sequence::after {
    width: 180px;
    height: 130px;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-image: url('/images/logo.webp'), url('/images/chalkboard-horizontal.webp');
  }
}
