/*
 * Copyright 2022 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */
.menuboard .cq-Screens-channel {
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  font-family: chalky, Verdana, sans-serif;
  color: white;
}

.menuboard .cq-Screens-channel p {
  text-align: center;
  font-size: 2rem;
}

.menuboard .cq-Screens-channel :is(h1, h2) {
  margin: 1em 0 .5em;
  font-size: 3rem;
  text-align: center;
  text-decoration: underline;
}

.menuboard .cq-Screens-channel :is(h1, h2)::before,
.menuboard .cq-Screens-channel :is(h1, h2)::after {
  display: inline-block;
  content: '***';
  margin: 0 2rem;
}

.menuboard .cq-Screens-channel .section {
  flex: 1;
  display: flex;
  position: relative;
  flex-direction: column;
  background: url('/images/chalkboard-vertical.webp');
  background-size: cover;
  padding: 10em 2rem 2rem;
}

.menuboard .cq-Screens-channel .section::before {
  position: absolute;
  left: 0;
  top: 0;
  height: 150px;
  width: 100%;
  z-index: 998;
  background: rgb(0 128 128);
  background-size: cover;
  border-bottom: 10px solid white;
  content: '';
}

.menuboard .cq-Screens-channel .section::after {
  position: absolute;
  width: 180px;
  height: 130px;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  background: no-repeat center center #444;
  background-image: url('/images/logo.webp'), url('/images/chalkboard-horizontal.webp');
  background-size: cover;
  border-radius: 50%;
  content: '';
}

.menuboard .cq-Screens-channel .section .default-content-wrapper:only-child {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 100%;
}

.menuboard .cq-Screens-channel .embed-wrapper {
  top: 160px;
}
